.alert_message
{
	display:flex;
	font-weight:bold;
	font-size:2rem;
}

@media(min-width:320px) and (max-width:767px)
{
	.alert_message
	{
		font-size:16pt;
		font-weight:900;
	}
}

@media(min-width:120px) and (max-width:319px)
{
	.alert_message
  	{
  		font-size:80%;
	    font-weight:800;
  	}
}