:root
{
  --default-size:2rem;
}

.div_warning-size
{
  display:none;
}

.form
{
  width:100%;
  margin-bottom:.5rem;
}

.lbl
{
  margin-bottom:.5rem;
}

.lbl, .chb, .password, .info, .info_after_create_password
{
  display:flex;
  font-weight:bold;
  font-size:var(--default-size);
}

.button
{
  display:flex;
  border-radius:10px;
  background:blue;
  font-size:var(--default-size);
  color:white;
  padding:20px;
}

.button[class~='copied']
{
  background:green;
}

.div_info, .div_copy-button, .div_create-button, .div_chb
{
  margin-top:10px;
}

#passwordLength, .div_chb, .div_create-button, .div_info, .lbl, .div_password
{
  margin-left:1rem;
}

@media(min-width:320px) and (max-width:767px)
{
  .lbl, .chb, .password, .info, .info_after_create_password
  {
    font-size:16pt;
  }

  .div_info, .div_copy-button, .div_create-button, .div_chb
  {
    margin-top:10px;
  }

  #passwordLength, .div_chb, .div_create-button, .div_info, .lbl, .div_password
  {
    margin-left:10%;
  }

  .button
  {
    font-size:16pt;
    padding:15px;
  }
}

@media(min-width:768px) and (max-width:1024px)
{
  .button
  {
    padding:15px;
  }
}

@media(min-width:120px) and (max-width:319px)
{
  .lbl, .chb, .password, .info, .info_after_create_password
  {
    font-size:65%;
  }

  .div_info, .div_copy-button, .div_create-button, .div_chb
  {
    margin-top:5px;
  }

  #passwordLength, .div_chb, .div_create-button, .div_info, .lbl, .div_password
  {
    margin-left:5px;
  }

  .button
  {
    font-size:8pt;
    padding:2%;
  }
}

@media(max-width:119px)
{
  .form, .div_password, .div_alert
  {
    display:none;
  }

  .div_warning-size
  {
    display:flex;
    padding-left:3px;
    font-size:70%;
    font-weight:bold;
  }
}